<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>MAUI</Name>
    <Version>1.0.3</Version>
    <Title>MAUI Installer</Title>
    <Publisher>Hedgehog Medical</Publisher>
    <StartMenuDir>Hedgehog Medical</StartMenuDir>
    <TargetDir>@HomeDir@/HedgehogMedical/MAUI/</TargetDir>
	<RunProgram>@TargetDir@/maui-gui.exe</RunProgram>
    <RunProgramDescription> Run MAUI</RunProgramDescription>
	<RemoteRepositories>
        <Repository>
            <Url>https://raw.githubusercontent.com/ironage/maui-gui/master/qt-src/installer/maui-gui-repo/</Url>
        </Repository>
    </RemoteRepositories>
</Installer>